<form action="" method="POST">
  <label for="email">Email</label>
  <input type="text" name="email" id="email" />
  <label for="contact_number">Contact Number</label>
  <input type="text" name="contact_number" id="contact_number" />
  <label for="username">Username</label><br />
  <input type="text" name="username" id="username" /><br />
  <label for="password">Password</label><br />
  <input type="password" name="password" id="password" /><br /><br />
  <label for="displayName">Display name</label>
  <input type="text" name="displayName" id="displayName" />
  <input type="submit" value="Log Me In" />
</form>
